<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/main">Calli For You</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/logout">로그아웃</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/user">회원관리</a></li>
      <li><a href="/img">콘텐츠 관리</a></li>
      <li><a href="/bgimg">배경 관리</a></li>
      <li><a href="/banner">배너 관리</a></li>
      <li><a href="/push">푸시 관리</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>