.content {
    margin-top: 70px;
}
ul {
    padding-left: 0;
}
li {
    display: inline-block;
    list-style-type: none;
}
/*index.html*/
.info {
    text-align: center;
    margin-top: 20px;
}
.login {
    width: 400px;
    height: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #ececec;
}
.alert {
    width: 400px;
    text-align: center;
    margin: 10px auto;
}
/*img.html*/
.date {
    margin-bottom: 10px; 
}
.right {
    float: right;
}
.right a {
    margin-left: 10px;
    margin-right: 10px;
}
tr {
    text-align: center;
}
.mini_img {
    width: 100px;
    height: auto;
}
/*banner.html*/
input[type=file] {
    display: inline-block;
}
/*push.html*/
