.content {
    margin-top: 70px;
}
ul {
    padding-left: 0;
}
li {
    display: inline-block;
    list-style-type: none;
}
/*index.html*/
.info {
    text-align: center;
    margin-top: 20px;
}
.login {
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #ececec;
}
/*img.html*/

/*banner.html*/
input[type=file] {
    display: inline-block;
}
/*push.html*/
